@charset "utf-8";

.testimonials
{
	width: 100%;
}
.owl-carousel-farhaan .owl-stage-outer
{
	overflow: visible;
}
.test_slider_container
{
    padding-left: 29px;
    padding-right: 30px;
    overflow: hidden;
}
.test_item-farhaan
{
	width: 100%;
	background: #f7f8fc;
	padding-top: 74px;
	padding-bottom: 74px;
	padding-left: 46px;
	padding-right: 40px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.test_item-farhaan::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border: solid 2px #8583e1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	content: '';
	visibility: hidden;
	opacity: 0;
}
.test_item-farhaan:hover
{
	box-shadow: 0px 24px 29px rgba(0,0,0,0.23);
}
.test_item-farhaan:hover::after
{
	visibility: visible;
	opacity: 1;
}
.test_title-farhaan
{
	font-size: 20px;
	font-weight: 700;
	color: #100f3a;
}
.test_text-farhaan
{
	margin-top: 24px;
}
.test_image-farhaan
{
	width: 53px;
	height: 53px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 42px;
}
.test_image-farhaan img
{
	max-width: 100%;
}
.test_info-farhaan
{
	font-size: 15px;
	font-weight: 600;
	margin-top: 25px;
}
.test_info-farhaan a
{
	color: #8583e1;
}
.test_info-farhaan span
{
	color: #838383;
	margin-left: 8px;
}
.owl-theme-farhaan .owl-nav.disabled + .owl-dot-farhaans
{
	margin-top: 45px;
}
.owl-theme-farhaan .owl-dot-farhaans .owl-dot-farhaan span
{
	width: 8px;
	height: 8px;
	background: #d5c6c6;
	margin-left: 2px;
	margin-right: 3px;
}
.owl-theme-farhaan .owl-dot-farhaans .owl-dot-farhaan.active span
{
	background: #8583e1;
}
.owl-theme-farhaan .owl-dot-farhaans .owl-dot-farhaan:hover span
{
	background: #8583e1;
}
