@charset "utf-8";
/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	.milestone
	{
		width: 50%;
		margin-bottom: 60px;
	}
}


/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	
	.milestones
	{
		padding-bottom: 30px;
	}
}






/
/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	
	.milestone
	{
		width: 100%;
	}
}
