

/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */



body{ font-size: 16px; font-family: 'Poppins', serif; width: 100%; height: 100%; margin: 0; font-weight: 400;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word; 
	color: #333; }





h1{ font-size: 1.5em; }
h2{ font-size: 1.3em;  }
h3{ font-size: 2.6em; }
h4{ font-size: 1em; }
h5{ font-size: 0.8em; }






/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

.section{ padding: 100px 0 50px; }

.section .heading{ margin-bottom: 60px; }

.section .heading:before{ content:''; height: 10px; width: 50px; border-radius: 5px;
	margin-bottom: 20px; display: block; background: #FFA804; }
	
.margin-t-10{ margin-top: 10px; }

.margin-b-30{ margin-bottom: 30px; }
.margin-b-50{ margin-bottom: 50px; }

.margin-tb-30{ margin-top: 30px; margin-bottom: 30px; }

.font-yellow{ color: #FFA600; }    



	
/* ---------------------------------
8. EDUCATION SECTION
--------------------------------- */

.education-wrapper{ position: relative; }

.education-wrapper:after{ content:''; position: absolute; top: 8px; bottom: 0; left: -51px;
	width: 2px; background: #ccc; }

.education-wrapper .education{ position: relative; }

.education-wrapper .education:after{ content:''; position: absolute; top: 8px; left: -58px; width: 16px; 
	height: 16px; border-radius: 10px; z-index: 1;
	box-shadow: 0 0 0 8px rgba(255,171,0, .4); background: #FFAB00; }
